<section class="center-content">
  <div class="marginTop30">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Enter city"
          formControlName="city"
          name="city"
          required
        />
      </mat-form-field>
      <span
        *ngIf="
          searchForm.controls['city'].errors &&
          !searchForm.controls['city'].pristine
        "
      >
        <mat-error *ngIf="searchForm.controls['city'].errors.required"
          >City must not be empty</mat-error
        >
      </span>
      <div class="center-content">
        <button
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="!searchForm.valid"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</section>
<div class="marginTop30">
  <mat-spinner *ngIf="spinner" style="margin: 0 auto;"></mat-spinner>
</div>

<section class="center-content marginTop30" *ngIf="geoResult && !spinner">
  <mat-card>
    <mat-card-header *ngIf="geoResult.results?.length > 0">
      <mat-card-title class="center-content"
        >Result for&nbsp;
        <span style="color:firebrick;"> {{ addressComponents }}</span
        >:</mat-card-title
      >
    </mat-card-header>
    <mat-card-content *ngIf="geoResult.results?.length > 0">
      <br />
      <span><b>Latitude:</b> {{ latitude }}</span>
      <hr />
      <span><b>Longitude:</b> {{ longitude }}</span>
    </mat-card-content>
    <mat-card-content *ngIf="!(geoResult.results?.length > 0)">
      <span><b>No Records Found</b></span>
    </mat-card-content>
  </mat-card>
</section>
